body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0000; 
    padding-top: 70px;
    background-image: url('icons/output.png'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    position: relative; 
    z-index: -1; 
    overflow-x: hidden; 
}

/* Создание псевдоэлемента для фактического фона */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('icons/output.png');
    background-size: cover; 
    background-position: center; 
    filter: blur(8px); 
    z-index: -1; 
}

header {
    background: rgba(51, 51, 51, 1); 
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 
    transition: top 0.2s; 
}

h1 {
    font-family: 'Roboto', sans-serif; 
    cursor: pointer;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

nav a {
    color: white;
    margin: 0 10px; 
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px; 
    border-radius: 20px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #f0f0f0; 
}

nav a:active {
    background-color: #333; 
    border-radius: 20px; 
    transform: scale(0.95);
}

.button {
    margin-left: 10px; 
    padding: 8px 12px;
    background-color: #555; 
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.1s ease; 
}

.button:hover {
    background-color: #777; 
}

.button:active {
    background-color: #333; 
    transform: scale(0.95); 
}

.content {
    padding: 20px;
    background: rgba(244, 244, 244, 0.8);
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    transition: opacity 0.5s ease, transform 0.5s ease-in;
    text-align: left;
    padding-bottom: 100px;
    opacity: 0; 
    transform: translateX(-100%); 
}

.active {
    display: block;
    opacity: 1;
    transform: translateX(0%); 
}

.fade-out {
    opacity: 0; 
    transform: translateX(100%); 
}

footer {
    text-align: center;
    padding: 15px;
    background: rgba(51, 51, 51, 1); 
    color: white;
    position: fixed; 
    bottom: -80px; 
    left: 0;
    right: 0;
    width: 100%;
    transition: bottom 0.2s; 
    
}
.btnPlay {
    background-image: url('icons/Chess.png'); 
    text-align: top;
    margin-left: 10px; 
    padding: 8px 12px;
    background-color: #555; 
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.1s ease;
    height: 600px;
    width: 600px;
    
}

.btnPlay:hover {
    background-color: #777; 
}

.btnPlay:active {
    background-color: #333; 
    transform: scale(0.95); 
}

.news-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news-item {
    width: 30%;
    padding: 10px;
    background-color: #F0F0F0;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

@media (max-width: 600px) {
    nav a {
        margin: 0 5px; 
    }
    .button {
        margin-left: 5px;
    }
}

#board {
    width: 400px;
    margin: 20px auto;
}

.highlight {
    background: yellow;
}

.square-55d63 {
    background: #eee;
}

